################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VehiclePositionFinder/bin/Debug/net6.0
/VehiclePositionFinder/obj
